<footer class="main-footer">

    <!--Widgets Section-->
    <div class="widgets-section">
        <div class="container">
            <div class="row">
                <!--Big Column-->
                <div class="big-column col-md-6 col-sm-12 col-xs-12">
                    <div class="row clearfix">

                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget about-widget">
                                <figure class="footer-logo"><a href="index.html"><img src="images/logo/logo2.png" alt=""></a></figure>

                                <div class="widget-content">
                                    <div class="text"><p>Narail is a global consulting firm with a twist. We bring big ideas and challenge the norm. We work with our clients, not at them.</p> </div>

                                    <ul class="social">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget service-widget">
                                <div class="section-title">
                                    <h3>Our Services</h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="list">
                                        <li><a href="service-single.html">Business Growth</a></li>
                                        <li><a href="service-single.html">Market Research</a></li>
                                        <li><a href="service-single.html">Financial Advise</a></li>
                                        <li><a href="service-single.html">Sales & Trading</a></li>
                                        <li><a href="service-single.html">Consulting</a></li>
                                        <li><a href="service-single.html">Risk Management</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <!--Big Column-->
                <div class="big-column col-md-6 col-sm-12 col-xs-12">
                    <div class="row clearfix">

                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget links-widget">
                                <div class="section-title">
                                    <h3>Quick Links</h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="list">
                                        <li><a href="about.html">About</a></li>
                                        <li><a href="service.html">Services</a></li>
                                        <li><a href="team.html">Team</a></li>
                                        <li><a href="our-projects.html">Projects</a></li>
                                        <li><a href="blog-grid.html">Blog</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget contact-widget">
                                <div class="section-title">
                                    <h3>instagram</h3>
                                </div>

                                <div class="footer-widget gallery-widget">
                                    <div class="row clearfix">
                                        <figure class="image">
                                            <img src="@Url.Content("~/Content/Site/images/resource/fi1.jpg")" alt="">
                                            <div class="link"><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </figure>

                                        <figure class="image">
                                            <img src="@Url.Content("~/Content/Site/images/resource/fi2.jpg")" alt="">
                                            <div class="link"><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </figure>

                                        <figure class="image">
                                            <img src="@Url.Content("~/Content/Site/images/resource/fi3.jpg")" alt="">
                                            <div class="link"><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </figure>

                                        <figure class="image">
                                            <img src="@Url.Content("~/Content/Site/images/resource/fi4.jpg")" alt="">
                                            <div class="link"><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </figure>

                                        <figure class="image">
                                            <img src="@Url.Content("~/Content/Site/images/resource/fi5.jpg")" alt="">
                                            <div class="link"><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </figure>

                                        <figure class="image">
                                            <img src="@Url.Content("~/Content/Site/images/resource/fi6.jpg")" alt="">
                                            <div class="link"><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </figure>


                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--Footer Bottom-->
    <div class="footer-bottom">
        <div class="container">
            <div class="pull-left copy-text">
                <p>Copyrights © 2018 All Rights Reserved by <a href="#"> Narail.</a></p>

            </div><!-- /.pull-right -->
            <div class="pull-right get-text">
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">FAQ's</a></li>
                    <li><a href="#"> Login</a></li>
                </ul>
            </div><!-- /.pull-left -->
        </div><!-- /.container -->
    </div>

</footer>
